Hey there, <%= @user.username %><br>
<br>
<a href="/exercise/new"> Add An Exercise </a>
<br>
<br>
<a href="/exercise/showpage"> Current Workout Plan 
<br>
<br>
<br>
<br>
<a href="/logout"> Logout </a>      Delete Account