<h1> Exercise Form </h1>

<form action='/exercises/<%= @exercise.id %>/edit' method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    Name: <input type=text value="<%= @exercise.name %>" name="name">
    Muscle_group: <input type=text value="<%= @exercise.muscle_group %>" name="muscle_group">
    <input type=submit>
<form>

<a href= '/exercises' > Back to Workouts </a>
<a href= '/exercise/<%= @exercise.id%>'> Delete</a>