<h1> This is the Exercise Form </h1>

<form action='/exercise' method="POST">
    Name: <input type=text name="name">
    Muscle_group: <input type=text name="muscle_group">
    <input type=submit>
<form>
<br>
<br>
<br>
<br>
<br>

<a href='/users/login'> Home </a>