Exercise Name: <%= @exercise.name%><br>
Muscle Group: <%= @exercise.muscle_group%>

<form method="post" action="/exercises/<%= @exercise.id %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
</form>