Are you sure you want to delete this exercise?<br>
<br>
<br>

Exercise Name: <%= @exercise.name%><br>
Muscle Group: <%= @exercise.muscle_group%>

<form action="/exercises/<%= @exercise.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
</form>
<br>
<a href= '/exercises' > Back to Workouts </a>